<!-- src/components/Error.vue -->

<template>
  <div class="error">
    <el-row type="flex" justify="center">
      <el-alert class="alert" type="error" center title=""><slot></slot></el-alert>
    </el-row>
  </div>
</template>

<script>
  export default {
    name: 'Error'
  }
</script>
