<!-- src/components/PeopleTable.vue -->

<template>
  <div class="people-table">
    <el-row type="flex" justify="center">
      <el-col :span="4"></el-col>
      <el-col :span="10">
        <el-table :data="people">
          <el-table-column prop="id" label="Id"></el-table-column>
          <el-table-column prop="attributes.first-name" label="First Name"></el-table-column>
          <el-table-column prop="attributes.last-name" label="Last Name"></el-table-column>
        </el-table>
      </el-col>
      <el-col :span="4"></el-col>
  </el-row>
  </div>
</template>

<script>
  import PersonService from '@/services/PersonService.js'

  export default {
    name: 'PeopleTable',
    props: ['people'],
    data () {
      return {}
    }
  }

</script>
