<!-- src/components/PersonSearchForm.vue -->

<template>
  <div class="person-search-form">
    <div v-if="errors && errors.length">
      <error v-for="error in errors" v-bind:key="error.message" class="error">{{error.message}}</error>
    </div>
    <el-row type="flex" justify="center">
      <el-col :span="4"></el-col>
      <el-col :span="6">
        <el-form :inline="true">
          <el-form-item label="Name">
            <el-input v-model="onKeyPress" placeholder="Name"></el-input>
          </el-form-item>
        </el-form>
      </el-col>
      <el-col :span="4"></el-col>
    </el-row>
    <people-table :people="people"></people-table>
  </div>
</template>

<script>
  import PersonService from '@/services/PersonService.js'
  import PeopleTable from '@/components/PeopleTable.vue'
  import Error from '@/components/Error.vue'
  import ParseName from 'parse-full-name'
  import _ from 'lodash'

  export default {
    name: 'PersonSearchForm',
    data () {
      return {
        errors: [],
        people: [],
        onKeyPress: ''
      }
    },
    components: {
      'people-table': PeopleTable,
      'error': Error
    },
    watch: {
      /**
       * Upon key press, send request to backend server for list of users matching typed characters
       * @param  {[string]}     full name of person to filter by
       * @return {[array]}      list of people filtered by first and/or last name or error
       */
      onKeyPress: _.debounce(function (n) {
        let name = ParseName.parseFullName(n)
        this.$router.replace({name:'people/index', query: {'first-name':name.first, 'last-name':name.last}})
        PersonService.getPersons(name.first, name.last)
        .then(response => {
          this.people = response.data.data
        })
        .catch(e => {
          this.errors.push(e)
          console.log('search error: ' + e)
        })
      }, 500)
    }
  }
</script>

<style>
  .el-row {
    margin-top: 100px;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
</style>
